<script setup lang="ts">
import { useLoginStore } from '@/stores/logins'
import { onMounted, ref } from 'vue'
import ConfirmDialog from '@/components/ConfirmDialog.vue'
import { useVarcompnStore } from '@/stores/varcompn'

const varcompnStore = useVarcompnStore()

const logins = useLoginStore()

const confirmDlg = ref()

const logoutBuu = async () => {
  try {
    await confirmDlg.value.openDialog(
      'ยืนยันการออกจากระบบ',
      `คุณต้องการออกจากระบบในชื่อ ${logins.name} ใช่หรือไม่`,
      'ยืนยัน',
      'ยกเลิก'
    )
    await logins.logoutBuu()
  } catch (e) {
    // console.log(e);
  }
}

const selectRole = localStorage.getItem('selectRole') || ''
const admin = import.meta.env.VITE_ID_ADMIN_ROLE

const selectRoleName = localStorage.getItem('selectRoleName') || ''

onMounted(async () => {
  await logins.loadData()
})
</script>
<template>
  <v-toolbar class="bg-teal fontTh-main">
    <!-- <v-toolbar-title> -->
    <v-img src="/src/assets/logo/login_small(new)-06.png" alt="Logo" class="img-logo-main"></v-img>
    <!-- </v-toolbar-title> -->
    <v-spacer></v-spacer>
    <v-icon icon="$account"></v-icon>
    <v-list bg-color="teal" class="fontTh-main" id="menu-activator" style="cursor: pointer">
      <v-list-item
        append-icon="$chevronDown"
        :title="logins.name"
        :subtitle="selectRoleName"
      ></v-list-item>
    </v-list>
    <v-menu activator="#menu-activator" style="cursor: pointer">
      <v-list>
        <v-list-item>
          <v-list-item-title @click="varcompnStore.isOpenSelectedRole = true"
            ><v-icon icon="$swapHorizontal"></v-icon> เปลี่ยนสิทธิ์การใช้งาน</v-list-item-title
          >
        </v-list-item>
        <v-list-item>
          <v-list-item-title @click="varcompnStore.open(selectRole, admin)"
            ><v-icon icon="$file"></v-icon> คู่มือการใช้งาน</v-list-item-title
          >
        </v-list-item>
        <v-list-item>
          <v-divider></v-divider>
          <v-list-item-title @click="logoutBuu()"
            ><v-icon icon="$power"> </v-icon> ออกจากระบบ</v-list-item-title
          >
        </v-list-item>
      </v-list>
    </v-menu>
    <!-- <v-icon icon="$chevronDown"></v-icon> -->
    <template>
      <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
    </template>
  </v-toolbar>
</template>
<style></style>
