<script setup lang="ts">
import { useVarcompnStore } from '@/stores/varcompn'
import { ref } from 'vue'

const varcompnStore = useVarcompnStore()
const tab = ref(null)
const selectRole = localStorage.getItem('selectRole')
const admin = import.meta.env.VITE_ID_ADMIN_ROLE
</script>
<template>
  <v-card>
    <v-tabs class="fontTh" bg-color="grey-lighten-3" center-active v-model="tab" color="teal">
      <v-tab :value="varcompnStore.tabAppoint">ขอเสนอแต่งตั้ง</v-tab>
      <v-tab :value="varcompnStore.tabSpeLect">บันทึกข้อมูลอาจารย์พิเศษ</v-tab>
      <v-tab :value="varcompnStore.tabYearsms" v-if="selectRole == admin"
        >จัดการปี/ภาคการศึกษา</v-tab
      >
      <v-tab :value="varcompnStore.tabPermission" v-if="selectRole == admin"
        >จัดการสิทธิ์ผู้ใช้งาน</v-tab
      >
      <v-tab :value="varcompnStore.tabSetEmail" v-if="selectRole == admin"
        >กำหนดอีเมลเจ้าหน้าที่งานหลักสูตร</v-tab
      >
      <v-tab :value="varcompnStore.tabReport" v-if="selectRole == admin">ภาพรวมและการติดตาม</v-tab>
      <v-spacer></v-spacer>
      {{ tab }}
      <v-spacer></v-spacer>
    </v-tabs>
  </v-card>
</template>
<style></style>
