<script setup lang="ts"></script>
<template>
  <!-- <v-app-bar class="bg-teal">
    <v-app-bar-title>
      <v-img src="/src/assets/logo/login_small(new)-06.png" alt="Logo" class="img-logo-main"></v-img>
    </v-app-bar-title>
    <v-spacer v-for="i of 6" :key="i"></v-spacer>
  </v-app-bar> -->
  <v-toolbar class="bg-teal">
    <v-toolbar-title>
      <v-img
        src="/src/assets/logo/login_small(new)-06.png"
        alt="Logo"
        class="img-logo-view"
      ></v-img>
    </v-toolbar-title>
    <v-spacer></v-spacer>
  </v-toolbar>
</template>
<style></style>
