/* @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap'); */

@import url(./fonts.googleapis.com_css2_family=Mitr&display=swap.css);
@import url(./fonts.googleapis.com_css2_family=Sarabun&display=swap.css);
@import url(./fonts.googleapis.com_css2_family=Noto+Sans+Thai&display=swap.css);
@import url(./fonts.googleapis.com_css2_family=Noto+Sans+Thai_wght@300&display=swap.css);
@import url(./fonts.googleapis.com_css2_family=Noto+Sans+Mono_wght@500&display=swap.css);

/* @import url('https://fonts.cdnfonts.com/css/th-sarabun-new-4'); */
@import url(./fonts.cdnfonts.com_css_th-sarabun-new-4.css);

/* select2 */
/* @import url('https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css'); */
/* @import url(./cdn.jsdelivr.net_npm_select2@4.1.0-rc.0_dist_css_select2.min.css); */

/* Hide scrollbars */
body,
html {
  height: 100%;
}
/* 
html {
  overflow: hidden;
} */

/* MENU TAB */
.fontTh {
  font-weight: bold;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: large;
}

/* VIEW HEADER */
.navbar {
  min-height: 80px;
}

.iconBell {
  color: whitesmoke;
  font-size: 25px;
}

.fontA {
  font-size: xx-large;
  font-weight: 400;
}

/* MAIN HEADER */
.fontEg {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-family: 'Noto Sans Mono', monospace;
}

.fontTh-main {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-family: 'Noto Sans Thai', sans-serif;
}

.fontTh-main-sub {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-family: 'Noto Sans Thai', sans-serif;
}

.font-i-main {
  color: rgba(255, 255, 255);
  font-weight: 500;
  font-family: 'Noto Sans Thai', sans-serif;
}

.icon-sz {
  font-size: 3vh;
}

.img-logo-main {
  height: 60px;
  position: absolute;
  /* top: 50%; */
  transform: translateX(-30%) translateY(0%);
}

.img-logo-view {
  height: 60px;
  position: absolute;
  /* top: 50%; */
  transform: translateX(-36%) translateY(0%);
}

.img-login {
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  /* Center an Image in a Div Horizontally and Vertically with Display-Flex */
  transform: translateX(-50%) translateY(-50%);
}

.formLog {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  /* Center an Image in a Div Horizontally and Vertically with Display-Flex */
  transform: translateX(-50%) translateY(-50%);
}

.logH1 {
  letter-spacing: 1px;
}

.img-circle {
  min-width: 50px;
  height: 50px;
  overflow: hidden;
}

.img-circle img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}

/* LOGIN VIEW */
.font-size-25 {
  font-size: 25px;
}

.ver-text {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-weight: 500;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .bi {
  position: absolute;
  padding: 5px;
  pointer-events: none;
}

/* align icon */
.left-addon .bi {
  left: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 35px;
}

@media (min-width: 1280px) {
  .h-custom-2 {
    height: 100%;
  }
}

.width100 {
  width: 100px;
}

/* FONT */
.fontSarabun {
  /* Sarabun */
  font-family: 'Sarabun', sans-serif;
}

.fontNotoSThai {
  font-family: 'Noto Sans Thai', sans-serif;
}

.fontMitr {
  font-family: 'Mitr', sans-serif;
}

.fontData {
  font-size: 11pt;
  font-weight: 500;
}

/* FONT WEIGHT */
.fw600 {
  font-weight: 600;
}

/* FORM VIEWER */
.fontHeadFormV {
  font-size: 12pt;
  font-weight: 700;
}

page {
  background: white;
  display: block;
  padding-top: 0.54cm;
  padding-right: 2.54cm;
  padding-left: 2.54cm;
  margin: 0 auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size='A4'] {
  width: 21cm;
  height: auto;
  min-height: 29cm;
}

page[size='A4'][layout='landscape'] {
  width: 29.7cm;
  height: 21cm;
}

page[size='A3'] {
  width: 29.7cm;
  height: 42cm;
}

page[size='A3'][layout='landscape'] {
  width: 42cm;
  height: 29.7cm;
}

page[size='A5'] {
  width: 14.8cm;
  height: 21cm;
}

page[size='A5'][layout='landscape'] {
  width: 21cm;
  height: 14.8cm;
}

@media print {
  page {
    margin: 0;
    box-shadow: 0;
  }
}

div.frame1 {
  position: absolute;
  top: 0px;
  left: 550px;
  width: 3cm;
  height: 3cm;
  border: 2px solid black;
  font-size: 1.75vh;
  font-weight: bold;
}

div.img-on-frame1 {
  position: absolute;
  top: 0px;
  left: 550px;
  width: 3cm;
  height: 3cm;
}

table.fViewer {
  border: 1px solid #000000a0;
  width: 100%;
  height: 100%;
}

table.fViewer thead.fViewer th.fViewer {
  border-top: 1px solid #000000a0 !important;
  border-bottom: 1px solid #000000a0 !important;
  border-left: 1px solid #000000a0;
  border-right: 1px solid #000000a0;
}

table.fViewer td.fViewer {
  border-left: 1px solid #000000a0;
  border-right: 1px solid #000000a0;
  border-top: 1px solid #000000a0;
}

.custom-label-data1 {
  white-space: normal;
  word-wrap: normal;
  word-break: break-all;
  position: relative;
  top: 2px;
  left: 0.5px;
}

.underline {
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
}

.fontHeadSIForm {
  font-size: 2.7vh;
  font-weight: 600;
}

.fontHead-CSIForm {
  font-size: 2.2vh;
  font-weight: 600;
}

input[type='file']::file-selector-button {
  display: none;
}

.buttonSearch {
  width: 110px;
  height: 35px;
  font-weight: 300;
  font-family: 'Mitr', sans-serif;
  font-size: 14pt;
  color: white;
  border-radius: 4px;
  background-color: #4caf50;
  margin-right: 1.5%;
}

.buttonSearch:hover {
  color: white;
  border-radius: 4px;
  background-color: #4caf50;
}

.buttonBack {
  width: 110px;
  height: 35px;
  font-weight: 300;
  font-family: 'Mitr', sans-serif;
  font-size: 14pt;
  color: white;
  border-radius: 4px;
  background-color: red;
  margin-right: 1.5%;
}

.buttonBack:hover {
  color: white;
  border-radius: 4px;
  background-color: red;
}

.buttonSave {
  width: 110px;
  height: 35px;
  font-weight: 300;
  font-family: 'Mitr', sans-serif;
  font-size: 14pt;
  color: white;
  border-radius: 4px;
  background-color: #358ce1;
}

.buttonSave:hover {
  color: white;
  border-radius: 4px;
  background-color: #358ce1;
}

.labelUpload {
  background-color: #358ce1;
  color: white;
  cursor: pointer;
}

/* SPEINSTRUCTOR MANAGE VIEW*/
.fontHead-SIManage {
  font-weight: 400;
  font-size: 3vh;
}

.fontHead-ContentSIManage {
  font-size: 2.2vh;
  font-weight: 400;
}

.trStyle {
  background-color: rgb(0, 165, 155);
  font-size: 2.3vh;
}

.btn-Add-New {
  font-size: 2vh;
  background-color: rgb(47, 144, 241);
  color: rgba(255, 255, 255, 0.9);
  /* manage page decorate */
  z-index: 1;
  position: relative;
  top: 50px;
}

.btn-Add-New-testdt {
  font-size: 12pt;
  background-color: rgb(47, 144, 241);
  color: rgba(255, 255, 255, 0.9);
}

.tc {
  padding-top: 12px;
}

.btnEye,
.btnEye:hover {
  background-color: #4caf50;
  color: white;
}

.btnEdit,
.btnEdit:hover {
  background-color: #00b0ff;
  color: white;
}

.disabled-edit {
  background-color: #00b0ff;
  color: white;
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.btnDelete,
.btnDelete:hover {
  background-color: red;
  color: white;
}

td.tool-btn button {
  margin-left: 3px;
}

td.tool-btn button:first-child {
  margin-left: 0px;
}

.disabled-delete {
  background-color: red;
  color: white;
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-check-info,
.btn-check-info:hover {
  background-color: orange;
  color: white;
}

.btn-check-info :hover {
  box-shadow: 0 7px 12px -2px rgba(154, 176, 175, 0.722);
}

.dropdown-toggle {
  font-weight: bold;
  border-bottom: 2px solid black !important;
  border-radius: 0px !important;
}

.dropdown-toggle-head {
  font-weight: bold;
  border-radius: 0px !important;
}

.pagination > li > a,
.pagination > li > span {
  border: none;
  color: rgb(133, 144, 144);
}

::placeholder {
  color: rgba(169, 169, 169, 0.764);
}

/* add padding  */
.left-addon input {
  padding-top: 14px;
  padding-left: 40px;
}

.inner-addon .fa {
  position: absolute;
  padding: 15px;
  pointer-events: none;
}

.inner-addon {
  position: relative;
}

/* SPEINSTRUCTOR VIEW */
.btnGenPDF,
.btnGenPDF:hover {
  background-color: teal;
  color: white;
}

/* CONFIRM DIALOG*/

.hoverTextArea {
  background-color: rgba(0, 150, 140, 0.682);
  border-radius: 12px;
}

.hoverTextArea :hover {
  box-shadow: 0 7px 12px 0px rgba(154, 176, 175, 0.722);
}

.fontHeadDialog {
  font-size: 3.2vh;
  font-weight: 400;
  color: rgb(173, 84, 54);
}

.txt-content-dialog {
  font-size: 2.5vh;
  font-weight: 300;
  text-align: center;
}

.btn-cancel-dialog {
  width: 15vh;
  height: 5vh;
  font-weight: 300;
  font-family: 'Mitr', sans-serif;
  font-size: 2.5vh;
  color: white;
  border-radius: 4px;
  background-color: red;
  margin-bottom: 10px;
}

.btn-cancel-dialog:hover {
  color: white;
  border-radius: 4px;
  background-color: red;
}

.btn-ok-dialog {
  color: rgb(0, 150, 140);
}

/* APPOINT OFFICER VIEW */
.btn-send-ok,
.btn-send-ok:hover {
  background-color: orange;
  color: white;
}

.disabled-send-ok {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.borderBtn {
  border: 2px solid rgb(0, 165, 155);
  width: 92px;
  border-radius: 5px;
}

.borderBtn:hover {
  border: 2px solid rgb(0, 165, 155);
  box-shadow: 0 7px 12px -2px rgba(154, 176, 175, 0.722);
  /* เลขค่าแรก คือการสั่งงาน เงา แนวนอน เลขบวกคือ ด้านขวา เลขลบ คือด้านซ้าย
เลขตัวที่สอง คือการสั่งงาน แนวตั้ง เลขบวกคือ ด้านล่าง เลขลบ คือด้านบน
เลขตัวที่สาม คือการสั่ง ค่าการเบลอ ว่าจะเบลอประมาณไหน เริ่มจากค่า โรงงานคือ ศูนย์ และเป็นค่าบวก
เลขตัวที่สี่ คือการสั่งขอบเขตการขยายตัวของการเบลอ (a spread distance) ใช้เป็นค่า บวกเท่านั้น */
}

.btnAcc,
.btnAcc:hover {
  background-color: rgb(168, 1, 168);
  color: white;
}

.txt-content-dialog-scroll {
  font-size: 2.5vh;
  font-weight: 300;
}

/* APPOINT DOCUMENT*/
.theadStyle {
  background-color: rgb(0, 165, 155);
  color: aliceblue;
  font-size: 2.3vh;
}

.tc-ap-doc {
  padding-top: 17.5px;
}

hr.style19 {
  border-top: 4px solid #000;
}

.disabled-view {
  background-color: #4caf50;
  color: white;
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.disabled-viewdoc {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.table-fixed tbody {
  height: 220px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed tbody,
.table-fixed tr,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed thead > tr > th {
  float: left;
  position: relative;
  border-bottom-width: 0;
}

.table-fixed tbody.applect {
  height: 450px;
  overflow-y: auto;
  width: 100%;
}

/* APPOINT LECTURER FORM */
.fontHead-LectForm {
  font-family: 'Sarabun', sans-serif;
  font-size: 2.4vh;
  font-weight: 500;
}

/* REPORT */
div.frame3 {
  position: absolute;
  z-index: 2;
  top: 150px;
  right: 35px;
}

div.frame4 {
  position: absolute;
  top: 60px;
  right: 20px;
}

/* APPOINT VIEWER */
div.frame2 {
  position: absolute;
  top: 200px;
  right: 50px;
}

.btn-excel,
.btn-excel:hover {
  background-color: #4caf50;
  color: rgba(255, 255, 255, 0.9);
}

.fontData-ap-view-width {
  font-size: 1.8vh;
  font-weight: 500;
  width: 15%;
}

.fontData-ap-view-fw600 {
  font-size: 1.8vh;
  font-weight: 600;
}

.fontData-ap-view {
  font-size: 1.8vh;
}

.tdStyle-ap-view {
  height: 100px;
  text-align: center;
}

.line-top {
  border-top: 2px solid gainsboro;
}

.font-size-2_2 {
  font-size: 2.2vh;
}

.font-size-2_4 {
  font-size: 2.4vh;
}

.thead-txtcenter {
  text-align: center;
}

thead.apViewer,
th.apViewer {
  border-collapse: collapse;
  font-weight: normal;
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
}

th.apViewer {
  padding: 5px;
  border: 1px solid #000 !important;
}

td.apViewer {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

table.apLecViewer,
td.apLecViewer {
  border: 1px solid rgba(30, 107, 128, 0.771);
  border-left: 1px solid rgba(30, 107, 128, 0.771);
  border-right: 1px solid rgba(30, 107, 128, 0.771);
  border-top: 1px solid rgba(30, 107, 128, 0.771);
}

.shadowH:hover {
  box-shadow: 0px 0px 12px 3px rgba(154, 176, 175, 0.643);
}

/* COLOR */
.color-aliceblue {
  color: aliceblue;
}

.color-gray {
  color: gray;
}

.color-black {
  color: black;
}

.color-blue {
  color: rgb(47, 144, 241);
}

.color-blue-wait {
  color: #03a9f4;
}

.color-teal {
  color: teal;
}

.color-teal-vheader {
  background-color: rgb(0, 143, 134);
}

.color-teal-mheader {
  background-color: rgb(0, 150, 140);
}

.color-green {
  color: #4caf50;
}

.color-green-real {
  color: green;
}

.color-orange {
  color: orange;
}

.color-red {
  color: red;
}

.file-label {
  background-color: rgb(245, 240, 240);
  color: rgba(128, 128, 128, 0.612);
}

.btnWidth {
  width: auto !important;
}

.head1 {
  width: 90%;
}

.head2 {
  width: 80%;
}

.head3 {
  width: 60%;
}

p {
  border-bottom: 2px black dotted;
  width: 100%;
  white-space: nowrap;
  break-inside: avoid;
}

p.dd {
  width: 97%;
}

span.control-label {
  border-bottom: solid white 10px;
}

.span-w {
  display: inline-block;
}

.table-data table {
  width: 100%;
  border-collapse: collapse;
}

td.data {
  white-space: nowrap;
}

td.data-date {
  border-bottom: 2px black dotted;
  width: 50%;
}

td.data-age {
  border-bottom: 2px black dotted;
  width: 15%;
}

td.data-alley {
  border-bottom: 2px black dotted;
  width: 30%;
}

td.data-tam {
  border-bottom: 2px black dotted;
  width: 35%;
}

td.data-amp {
  border-bottom: 2px black dotted;
  width: 25%;
}

td.data-month {
  text-align: right;
  white-space: nowrap;
}

td.data-code {
  border-bottom: 2px black dotted;
  width: 230px;
}

td.data-lec {
  border-bottom: 2px black dotted;
  width: 100%;
  width: 150000px;
  display: block;
  white-space: break-all;
}

table.code {
  position: relative;
  left: 100px;
  bottom: 5px;
}

table.apv tr,
th.apViewer2,
td.apViewer2,
th.apv,
td.apv {
  /* white-space: nowrap; */
  display: block !important;
}
/* #apViewer2 td:nth-child(1)  {white-space: nowrap;} */

img.frame {
  width: 3cm;
}

.custom-select .v-select-select option {
  font-family: 'Mitr', sans-serif;
}

.select2-container .select2-selection .select2-search__field:placeholder-shown {
  height: 26px;
  line-height: 28px;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 2vh;
  font-weight: 500;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 37px;
  font-size: 2vh;
  font-weight: 500;
  font-family: 'Noto Sans Thai', sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 37px;
  font-size: 2vh;
  font-weight: 500;
  font-family: 'Noto Sans Thai', sans-serif;
}

.html2pdf__page-break {
  margin: 0 !important;
}

table {
  mso-data-placement: same-cell;
}

pre {
  overflow-x: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* manage page decorate */
.dataTables_length select {
  background: transparent !important;
  font-weight: bold;
  border-bottom: 2px solid black !important;
  border-radius: 0px !important;
}

/* manage page decorate */
.dataTables_filter {
  position: relative;
  right: 80%;
}

.select2-selection__choice__display,
.select2-selection__choice__remove span {
  color: #000;
}

.select2-selection__choice__display {
  color: #000;
  margin: 5px;
}

.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  border-color: grey;
  background-color: rgba(211, 211, 211, 0.4);
}

.nextPage {
  page-break-before: auto;
  page-break-after: auto;
  page-break-inside: avoid !important;
  position: relative;
  display: block;
}

table,
tr,
td {
  page-break-inside: avoid;
}

@media print and (min-width: 700px) {
  /* you can change the selector to whatever you need */
  .article {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

@media screen and (min-width: 1690px) {
  div.frame1 {
    font-size: 90%;
  }

  .fontHeadFormV,
  .fontData {
    font-size: 100%;
  }
}

@media screen and (max-width: 1280px) {
  div.frame1 {
    font-size: 90%;
  }
}

.btn-cf-dialog {
  width: 15vh;
  height: 5vh;
  font-weight: 300;
  font-family: 'Mitr', sans-serif;
  font-size: 2.5vh;
  color: white;
  border-radius: 4px;
  background-color: rgb(47, 144, 241);
  margin-bottom: 10px;
}

.btn-cf-dialog:hover {
  color: white;
  border-radius: 4px;
  background-color: rgb(47, 144, 241);
}

table.appLV {
  table-layout: fixed;
  width: 100%;
  background-color: rgb(204, 230, 230);
  border-radius: 1em;
  overflow: hidden;
}

#username:valid {
  background-image: none;
}

#username:invalid {
  background-image: none;
}

#password:valid {
  background-image: none;
}

#password:invalid {
  background-image: none;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .bi {
  position: absolute;
  padding: 5px;
  pointer-events: none;
}

.inner-addon .bi-right {
  position: absolute;
  padding: 15px;
  right: 0px;
}

/* align icon */
.left-addon .bi {
  left: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 35px;
}

.icon-fas {
  color: grey;
  font-size: 20px;
}

.nth-table tr:nth-child(even) {
  background: #badede6b;
}

.fixTh {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.fixTb {
  display: block;
  max-height: 350px;
  overflow-y: auto;
}

/* For Mobile Phones */
@media screen and (max-width: 480px) {
  .txt-log {
    font-size: 1.6vh;
  }

  .mb-s2 .select2-container {
    min-width: 10em !important;
  }
}

@media screen and (max-width: 767px) {
  .icon-mb {
    margin: 20px;
  }
}

/* For Laptops/Desktop */
@media screen and (min-width: 1025px) {
  .txt-log {
    font-size: 1.8vh;
  }

  .mb-s2 .select2-container {
    min-width: 15em !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 1025px) {
  .txt-log {
    font-size: 1.7vh;
  }

  .mb-s2 .select2-container {
    min-width: 15em !important;
  }
}

.navbar-custom {
  height: 70px;
}

.buttonSearch-user {
  width: 10vh;
  height: 5vh;
  font-weight: 300;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 2vh;
  color: white;
  border-radius: 4px;
  background-color: #14ae70d6;
}

.buttonBack-user {
  width: 10vh;
  height: 5vh;
  font-weight: 300;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 2vh;
  color: white;
  border-radius: 4px;
  background-color: #da2b2bb0;
}

input[type='file'].change-placeholder-type-file {
  color: transparent !important;
}

input[type='file'].change-placeholder-type-file::before {
  content: 'ยังไม่ได้เลือกไฟล์';
  color: #737373;
  line-height: 27px;
  margin-right: 10px;
}

.form-control[type='file']:not(:disabled):not([readonly]) {
  line-height: 27px;
}

.select2-selection__clear > span {
  display: none;
}

.h-bottom {
  height: auto;
  min-height: 450px;
}

.hoverBtn:hover {
  color: teal;
}

.bi-cale {
  position: absolute;
  right: 10px;
  top: 14px;
  color: #358ce1;
  /* #00b0ff */
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 99;
}

.iconmaform::before {
  transform: translateY(10%);
}

#comment {
  resize: vertical;
}

#myTab > li > a.active {
  border-bottom: none;
}

#dateStart:valid,
#dateEnd:valid,
#dateBD:valid {
  background-image: none;
}

#dateStart:invalid,
#dateEnd:invalid,
#dateBD:invalid {
  background-image: none;
}

#dateBD:read-only,
#dateEnd:read-only,
#dateStart:read-only {
  background-color: rgb(255, 255, 255);
}
