@font-face {
  font-family: th sarabun new;
  font-style: normal;
  font-weight: 400;
  src:
    local('TH Sarabun New'),
    url(https://fonts.cdnfonts.com/s/16399/THSarabunNew.woff) format('woff');
}
@font-face {
  font-family: th sarabun new;
  font-style: italic;
  font-weight: 400;
  src:
    local('TH Sarabun New'),
    url('https://fonts.cdnfonts.com/s/16399/THSarabunNew Italic.woff') format('woff');
}
@font-face {
  font-family: th sarabun new;
  font-style: normal;
  font-weight: 700;
  src:
    local('TH Sarabun New'),
    url('https://fonts.cdnfonts.com/s/16399/THSarabunNew Bold.woff') format('woff');
}
@font-face {
  font-family: th sarabun new;
  font-style: italic;
  font-weight: 700;
  src:
    local('TH Sarabun New'),
    url('https://fonts.cdnfonts.com/s/16399/THSarabunNew BoldItalic.woff') format('woff');
}
