<script lang="ts" setup>
import { ref } from 'vue'
import { useVarcompnStore } from '@/stores/varcompn'
import { useRoute, useRouter } from 'vue-router'

const varcompnStore = useVarcompnStore()
const uRole = localStorage.getItem('selectgpid')!
const uRoleName = localStorage.getItem('selectgpname')!
const sRole = localStorage.getItem('selectRole')

const route = useRoute()
const router = useRouter()

const select = ref('')
let uRoleLists: string[] = []
let uRoleNameLists: string[] = []

if (uRole != undefined) {
  if (uRole.includes(',')) {
    uRoleLists = uRole.split(', ')
    // uRoleLists.push('none')
    uRoleNameLists = uRoleName.split(', ')
    // uRoleNameLists.push('---- เลือกตำแหน่ง ----')
  } else {
    uRoleLists.push(uRole)
    uRoleNameLists.push(uRoleName)
  }
}

if (localStorage.getItem('selectRoleName')) {
  const index = uRoleNameLists.findIndex(
    (itemm) => itemm === localStorage.getItem('selectRoleName')
  )
  select.value = uRoleNameLists[index]
}

function OkFunc() {
  const index = uRoleNameLists.findIndex((itemm) => itemm === select.value)
  localStorage.setItem('selectRole', uRoleLists[index])
  localStorage.setItem('selectRoleName', uRoleNameLists[index])
  varcompnStore.isOpenSelectedRole = false
  if (route.fullPath.includes('propose-to')) {
    router.replace('/propose-to')
    location.href = '/propose-to'
  } else {
    location.href = route.fullPath
  }
  select.value = ''
}

function cancelFunc() {
  select.value = ''
  varcompnStore.isOpenSelectedRole = false
}
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="varcompnStore.isOpenSelectedRole" persistent width="60vh">
      <v-card class="card sl-right mt-2">
        <v-card-title class="card-title fontHeadDialog fontMitr lh-1 mt-3">
          เปลี่ยนสิทธิ์การใช้งาน
        </v-card-title>
        <v-card-text>
          <v-select
            class="custom-select fontMitr txt-content-dialog mr-auto ml-auto"
            id="select1"
            v-model="select"
            label="เลือกตำแหน่ง"
            :items="uRoleNameLists"
          >
            <!-- <template #item="{ item }">
              <span class="fontMitr">
                {{ item }}</span>
            </template> -->
          </v-select>
        </v-card-text>
        <v-card-actions class="justify-center">
          <div class="col-3 col-md-auto">
            <v-btn
              v-if="sRole != undefined"
              class="txt-content-dialog fontMitr btn-cancel-dialog lh-1"
              variant="text"
              @click="cancelFunc"
            >
              ยกเลิก
            </v-btn>
          </div>
          <div class="col-3 col-md-auto">
            <v-btn
              class="txt-content-dialog fontMitr btn-cf-dialog lh-1"
              variant="text"
              @click="OkFunc"
            >
              ตกลง
            </v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
