<script lang="ts" setup>
import { ref } from 'vue'

const dialog = ref(false)
const title = ref('Title')
const desc = ref('Desc')
const ok = ref('OK')
const cancel = ref('Cancel')
const isBackOld = ref(false)

let onOk: (value: unknown) => void
let onCancel: (reason?: any) => void

const openDialog = (titleStr: string, descStr: string, okStr: string, cancelStr: string) => {
  title.value = titleStr
  desc.value = descStr
  ok.value = okStr
  cancel.value = cancelStr
  dialog.value = true
  return new Promise((resolve, reject) => {
    onOk = resolve
    onCancel = reject
  })
}

defineExpose({ openDialog, isBackOld })

function cancelFunc() {
  dialog.value = false
  isBackOld.value = true
  onCancel('Cancel')
}

function OkFunc() {
  dialog.value = false
  isBackOld.value = false
  onOk('OK')
}
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="auto">
      <v-card>
        <v-row>
          <v-col cols="10" class="justify-start mt-1 lh-1">
            <v-card-title class="fontHeadDialog fontMitr lh-1 mt-2">
              {{ title }}
            </v-card-title>
          </v-col>
          <v-col cols="2" class="justify-end mt-2 pr-8">
            <button type="button" class="close" @click="cancelFunc">
              <!-- <i class="ti ti-close font-weight-bold"></i> -->
              <span aria-hidden="true">&times;</span>
            </button>
          </v-col>
        </v-row>
        <v-divider class="border-opacity-75"></v-divider>
        <v-card-title class="fontMitr txt-content-dialog lh-1">{{ desc }}</v-card-title>
        <v-divider class="border-opacity-75"></v-divider>
        <v-card-actions class="justify-center mb-2">
          <div class="col-auto col-md-auto">
            <v-btn class="buttonBack" variant="text" @click="cancelFunc">
              {{ cancel }}
            </v-btn>
          </div>
          <div class="col-auto col-md-auto">
            <v-btn class="buttonSave" variant="text" @click="OkFunc">
              {{ ok }}
            </v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
