<script lang="ts" setup>
import { ref } from 'vue'

const dialog = ref(false)
const title = ref('Title')
const desc = ref('Desc')
const ok = ref('OK')
const cancel = ref('Cancel')

let onOk: (value: unknown) => void
let onCancel: (reason?: any) => void

const openDialog = (titleStr: string, descStr: string, okStr: string, cancelStr: string) => {
  title.value = titleStr
  desc.value = descStr
  ok.value = okStr
  cancel.value = cancelStr
  dialog.value = true
  return new Promise((resolve, reject) => {
    onOk = resolve
    onCancel = reject
  })
}

const textA = ref('')
defineExpose({ openDialog, textA })
const textError = ref('')
const colorStatus = ref('')
const colorText = ref('')

function cancelFunc() {
  dialog.value = false
  onCancel('Cancel')
  textError.value = ''
  colorStatus.value = ''
  colorText.value = ''
}

function OkFunc() {
  if (textA.value != '') {
    dialog.value = false
    textError.value = ''
    onOk('OK')
  } else {
    if (title.value.includes('แก้ไข')) {
      textError.value = '**กรุณากรอกเหตุผลการแก้ไข'
    }
    if (title.value.includes('ยกเลิก')) {
      textError.value = '**กรุณากรอกเหตุผลการยกเลิก'
    }
  }
}
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="70vh">
      <v-card class="card sl-right mt-2">
        <v-card-title class="card-title fontHeadDialog fontMitr lh-1 mt-3">
          {{ title }}
        </v-card-title>
        <v-card-title class="fontMitr txt-content-dialog lh-1">{{ desc }}</v-card-title>
        <v-card-text>
          <v-textarea
            class="fontMitr hoverTextArea"
            :label="title.includes('แก้ไข') ? 'เหตุผลในการแก้ไข *' : 'เหตุผลในการยกเลิก *'"
            v-model="textA"
            variant="solo"
            :color="colorStatus"
          ></v-textarea>
          <span class="fontMitr color-red">{{ textError }}</span>
        </v-card-text>
        <v-card-actions class="justify-center mb-2">
          <div class="col-3 col-md-auto">
            <v-btn
              class="txt-content-dialog fontMitr btn-cancel-dialog lh-1"
              variant="text"
              @click="cancelFunc"
            >
              {{ cancel }}
            </v-btn>
          </div>
          <div class="col-3 col-md-auto">
            <v-btn
              class="txt-content-dialog fontMitr btn-cf-dialog lh-1"
              variant="text"
              @click="OkFunc"
            >
              {{ ok }}
            </v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
