<script setup lang="ts">
import { useVarcompnStore } from '@/stores/varcompn'

const varcompnStore = useVarcompnStore()
</script>

<template>
  <v-dialog v-model="varcompnStore.isLoading" persistent width="auto">
    <v-card>
      <v-card-text class="text-center">
        <div>กรุณารอสักครู่...</div>
        <v-progress-circular
          :size="45"
          color="rgb(0, 150, 140)"
          indeterminate
        ></v-progress-circular>
        <!-- rgb(80, 50, 0) -->
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
