<script setup lang="ts">
import { useVarcompnStore } from '@/stores/varcompn'
// import { mdiAlertCircleOutline } from '@mdi/js'

const varcompnStore = useVarcompnStore()
</script>

<template>
  <div class="text-center ma-2">
    <v-snackbar
      v-model="varcompnStore.isShowMessage"
      :timeout="varcompnStore.timeout"
      multi-line
      vertical
      color="white"
    >
      <v-icon size="32" color="orange-darken-4" icon="$alertCircleOutline"></v-icon>
      <!-- <v-icon size="32" color="orange-darken-4" :icon="mdiAlertCircleOutline"></v-icon> -->
      <div class="fontMitr fontHead-ContentSIManage lh-1 mt-2 mb-1">
        {{ ' ' + varcompnStore.message }}
      </div>
      <template v-slot:actions>
        <v-btn
          class="fontMitr txt-content-dialog"
          color="orange-darken-4"
          variant="text"
          @click="varcompnStore.isShowMessage = false"
        >
          ปิด
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
