<script setup lang="ts">
import { RouterView } from 'vue-router'
</script>

<template>
  <v-app :style="{ background: 'white' }">
    <RouterView name="header"></RouterView>
    <v-main>
      <RouterView></RouterView>
    </v-main>
  </v-app>
</template>

<style scoped></style>
