<script setup lang="ts">
import { RouterView } from 'vue-router'
</script>

<template>
  <v-app :style="{ background: 'white' }">
    <RouterView name="header"></RouterView>
    <v-main>
      <RouterView name="menu"></RouterView>
      <v-container fluid>
        <RouterView></RouterView>
      </v-container>
    </v-main>
    <footer class="flex-shrink-0 py-3 bg-teal">
      <div class="container text-center">
        <small>COPYRIGHT (C) 2023 COMPUTER CENTER BURAPHA UNIVERSITY ALL RIGHTS RESERVED.</small>
      </div>
    </footer>
  </v-app>
</template>

<style scoped></style>
